-- ---------------------------------------------------------------------
-- Script that creates the sample database lessons
-- ---------------------------------------------------------------------
SET NAMES utf8;
-- ---------------------------------------------------------------------
-- Create empty database lessons
-- ---------------------------------------------------------------------
DROP DATABASE IF EXISTS lessons;
CREATE DATABASE lessons;
USE lessons;

-- Create table Employees
DROP TABLE IF EXISTS `Employees`;

CREATE TABLE Employees
(
    `empid`           INT          NOT NULL AUTO_INCREMENT,
    `lastname`        NVARCHAR(20) NOT NULL,
    `firstname`       NVARCHAR(10) NOT NULL,
    `title`           NVARCHAR(30) NOT NULL,
    `titleofcourtesy` NVARCHAR(25) NOT NULL,
    `birthdate`       DATE         NOT NULL,
    `hiredate`        DATE         NOT NULL,
    `address`         NVARCHAR(60) NOT NULL,
    `city`            NVARCHAR(15) NOT NULL,
    `region`          NVARCHAR(15) NULL,
    `postalcode`      NVARCHAR(10) NULL,
    `country`         NVARCHAR(15) NOT NULL,
    `phone`           NVARCHAR(24) NOT NULL,
    `mgrid`           INT          NULL,
    CONSTRAINT `PK_Employees` PRIMARY KEY (`empid`),
    CONSTRAINT `FK_Employees_Employees` FOREIGN KEY (`mgrid`) REFERENCES Employees (`empid`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8;

-- Cannot use directly sysdate in check constraint in MySQL like we do in MSSQL. Solution to use trigger
DELIMITER $$
CREATE TRIGGER `Check_employee_birthday_insert`
    BEFORE INSERT
    ON `Employees`
    FOR EACH ROW
BEGIN
    -- TODO: Move to procedure
    IF (NEW.`birthdate` > SYSDATE()) THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Birth day must be less than current date';
    END IF;
END;
$$

DELIMITER ;

DELIMITER $$
CREATE TRIGGER `Check_employee_birthday_update`
    BEFORE UPDATE
    ON `Employees`
    FOR EACH ROW
BEGIN
    -- TODO: Move to procedure
    IF (NEW.`birthdate` > SYSDATE()) THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Birth day must be less than current date';
    END IF;
END;
$$

CREATE INDEX `idx_nc_lastname` ON `Employees` (`lastname`);
CREATE INDEX `idx_nc_postalcode` ON `Employees` (`postalcode`);

-- Create table Suppliers
DROP TABLE IF EXISTS `Suppliers`;

CREATE TABLE `Suppliers`
(
    `supplierid`   INT          NOT NULL AUTO_INCREMENT,
    `companyname`  NVARCHAR(40) NOT NULL,
    `contactname`  NVARCHAR(30) NOT NULL,
    `contacttitle` NVARCHAR(30) NOT NULL,
    `address`      NVARCHAR(60) NOT NULL,
    `city`         NVARCHAR(15) NOT NULL,
    `region`       NVARCHAR(15) NULL,
    `postalcode`   NVARCHAR(10) NULL,
    `country`      NVARCHAR(15) NOT NULL,
    `phone`        NVARCHAR(24) NOT NULL,
    `fax`          NVARCHAR(24) NULL,
    CONSTRAINT PK_Suppliers PRIMARY KEY (supplierid)
);

CREATE INDEX idx_nc_companyname ON `Suppliers` (`companyname`);
CREATE INDEX idx_nc_postalcode ON `Suppliers` (`postalcode`);

-- Create table Categories
DROP TABLE IF EXISTS `Categories`;

CREATE TABLE `Categories`
(
    `categoryid`   INT           NOT NULL AUTO_INCREMENT,
    `categoryname` NVARCHAR(15)  NOT NULL,
    `description`  NVARCHAR(200) NOT NULL,
    CONSTRAINT PK_Categories PRIMARY KEY (`categoryid`)
);

CREATE INDEX idx_nc_categoryname ON `Categories` (`categoryname`);

-- Create table Products
DROP TABLE IF EXISTS `Products`;

CREATE TABLE `Products`
(
    `productid`    INT            NOT NULL AUTO_INCREMENT,
    `productname`  NVARCHAR(40)   NOT NULL,
    `supplierid`   INT            NOT NULL,
    `categoryid`   INT            NOT NULL,
    `unitprice`    DECIMAL(10, 2) NOT NULL DEFAULT (0),
    `discontinued` BIT            NOT NULL DEFAULT (0),
    CONSTRAINT PK_Products PRIMARY KEY (`productid`),
    CONSTRAINT FK_Products_Categories FOREIGN KEY (`categoryid`)
        REFERENCES `Categories` (`categoryid`),
    CONSTRAINT FK_Products_Suppliers FOREIGN KEY (`supplierid`)
        REFERENCES `Suppliers` (`supplierid`),
    CONSTRAINT CHK_Products_unitprice CHECK (`unitprice` >= 0)
);

CREATE INDEX idx_nc_categoryid ON `Products` (`categoryid`);
CREATE INDEX idx_nc_productname ON `Products` (`productname`);
CREATE INDEX idx_nc_supplierid ON `Products` (`supplierid`);

-- Create table Customers
DROP TABLE IF EXISTS `Customers`;

CREATE TABLE `Customers`
(
    `custid`       INT          NOT NULL AUTO_INCREMENT,
    `companyname`  NVARCHAR(40) NOT NULL,
    `contactname`  NVARCHAR(30) NOT NULL,
    `contacttitle` NVARCHAR(30) NOT NULL,
    `address`      NVARCHAR(60) NOT NULL,
    `city`         NVARCHAR(15) NOT NULL,
    `region`       NVARCHAR(15) NULL,
    `postalcode`   NVARCHAR(10) NULL,
    `country`      NVARCHAR(15) NOT NULL,
    `phone`        NVARCHAR(24) NOT NULL,
    `fax`          NVARCHAR(24) NULL,
    CONSTRAINT PK_Customers PRIMARY KEY (`custid`)
);

CREATE INDEX idx_nc_city ON `Customers` (`city`);
CREATE INDEX idx_nc_companyname ON `Customers` (`companyname`);
CREATE INDEX idx_nc_postalcode ON `Customers` (`postalcode`);
CREATE INDEX idx_nc_region ON `Customers` (`region`);

-- Create table Shippers
DROP TABLE IF EXISTS `Shippers`;

CREATE TABLE `Shippers`
(
    `shipperid`   INT          NOT NULL AUTO_INCREMENT,
    `companyname` NVARCHAR(40) NOT NULL,
    `phone`       NVARCHAR(24) NOT NULL,
    CONSTRAINT PK_Shippers PRIMARY KEY (`shipperid`)
);

-- Create table Orders
DROP TABLE IF EXISTS `Orders`;

CREATE TABLE `Orders`
(
    `orderid`        INT            NOT NULL AUTO_INCREMENT,
    `custid`         INT            NULL,
    `empid`          INT            NOT NULL,
    `orderdate`      DATE           NOT NULL,
    `requireddate`   DATE           NOT NULL,
    `shippeddate`    DATE           NULL,
    `shipperid`      INT            NOT NULL,
    `freight`        DECIMAL(10, 2) NOT NULL DEFAULT (0),
    `shipname`       NVARCHAR(40)   NOT NULL,
    `shipaddress`    NVARCHAR(60)   NOT NULL,
    `shipcity`       NVARCHAR(15)   NOT NULL,
    `shipregion`     NVARCHAR(15)   NULL,
    `shippostalcode` NVARCHAR(10)   NULL,
    `shipcountry`    NVARCHAR(15)   NOT NULL,
    CONSTRAINT PK_Orders PRIMARY KEY (orderid),
    CONSTRAINT FK_Orders_Customers FOREIGN KEY (custid)
        REFERENCES Customers (custid),
    CONSTRAINT FK_Orders_Employees FOREIGN KEY (empid)
        REFERENCES Employees (empid),
    CONSTRAINT FK_Orders_Shippers FOREIGN KEY (shipperid)
        REFERENCES Shippers (shipperid)
);

CREATE INDEX idx_nc_custid ON Orders (custid);
CREATE INDEX idx_nc_empid ON Orders (empid);
CREATE INDEX idx_nc_shipperid ON Orders (shipperid);
CREATE INDEX idx_nc_orderdate ON Orders (orderdate);
CREATE INDEX idx_nc_shippeddate ON Orders (shippeddate);
CREATE INDEX idx_nc_shippostalcode ON Orders (shippostalcode);

-- Create table OrderDetails
DROP TABLE IF EXISTS OrderDetails;

CREATE TABLE OrderDetails
(
    orderid   INT            NOT NULL,
    productid INT            NOT NULL,
    unitprice DECIMAL(10, 2) NOT NULL DEFAULT (0),
    qty       SMALLINT       NOT NULL DEFAULT (1),
    discount  NUMERIC(4, 3)  NOT NULL DEFAULT (0),
    CONSTRAINT PK_OrderDetails PRIMARY KEY (orderid, productid),
    CONSTRAINT FK_OrderDetails_Orders FOREIGN KEY (orderid)
        REFERENCES Orders (orderid),
    CONSTRAINT FK_OrderDetails_Products FOREIGN KEY (productid)
        REFERENCES Products (productid),
    CONSTRAINT CHK_discount CHECK (discount BETWEEN 0 AND 1),
    CONSTRAINT CHK_qty CHECK (qty > 0),
    CONSTRAINT CHK_unitprice CHECK (unitprice >= 0)
);

CREATE INDEX idx_nc_orderid ON OrderDetails (orderid);
CREATE INDEX idx_nc_productid ON OrderDetails (productid);

-- Create table Tests
DROP TABLE IF EXISTS `Tests`;

CREATE TABLE `Tests`
(
    `testid` VARCHAR(10) NOT NULL,
    CONSTRAINT PK_Tests PRIMARY KEY (`testid`)
);

-- Create table Scores
DROP TABLE IF EXISTS Scores;

CREATE TABLE `Scores`
(
    `testid`    VARCHAR(10) NOT NULL,
    `studentid` VARCHAR(10) NOT NULL,
    `score`     TINYINT     NOT NULL CHECK (`score` BETWEEN 0 AND 100),
    CONSTRAINT PK_Scores PRIMARY KEY (`testid`, `studentid`),
    CONSTRAINT FK_Scores_Tests FOREIGN KEY (`testid`) REFERENCES `Tests` (`testid`)
);

CREATE INDEX idx_nc_testid_score ON `Scores` (`testid`, `score`);

-- ---------------------------------------------------------------------
-- Populate Tables
-- ---------------------------------------------------------------------

-- Populate table Employees
LOCK TABLES `Employees` WRITE;
INSERT INTO Employees(lastname, firstname, title, titleofcourtesy, birthdate, hiredate, address, city, region,
                      postalcode, country, phone, mgrid)
VALUES (N'Davis', N'Sara', N'CEO', N'Ms.', '19681208', '20130501', N'7890 - 20th Ave. E., Apt. 2A', N'Seattle', N'WA',
        N'10003', N'USA', N'(206) 555-0101', NULL);
INSERT INTO Employees(lastname, firstname, title, titleofcourtesy, birthdate, hiredate, address, city, region,
                      postalcode, country, phone, mgrid)
VALUES (N'Funk', N'Don', N'Vice President, Sales', N'Dr.', '19720219', '20130814', N'9012 W. Capital Way', N'Tacoma',
        N'WA', N'10001', N'USA', N'(206) 555-0100', 1);
INSERT INTO Employees(lastname, firstname, title, titleofcourtesy, birthdate, hiredate, address, city, region,
                      postalcode, country, phone, mgrid)
VALUES (N'Lew', N'Judy', N'Sales Manager', N'Ms.', '19830830', '20130401', N'2345 Moss Bay Blvd.', N'Kirkland', N'WA',
        N'10007', N'USA', N'(206) 555-0103', 2);
UNLOCK TABLES;

-- Populate table Suppliers
LOCK TABLES `Suppliers` WRITE;
INSERT INTO Suppliers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Supplier SWRXU', N'Adams, Terry', N'Purchasing Manager', N'2345 Gilbert St.', N'London', NULL, N'10023',
        N'UK', N'(171) 456-7890', NULL);
INSERT INTO Suppliers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Supplier VHQZD', N'Hance, Jim', N'Order Administrator', N'P.O. Box 5678', N'New Orleans', N'LA', N'10013',
        N'USA', N'(100) 555-0111', NULL);
INSERT INTO Suppliers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Supplier STUAZ', N'Parovszky, Alfons', N'Sales Representative', N'1234 Oxford Rd.', N'Ann Arbor', N'MI',
        N'10026', N'USA', N'(313) 555-0109', N'(313) 555-0112');
UNLOCK TABLES;

-- Populate table Categories
LOCK TABLES `Categories` WRITE;
INSERT INTO Categories(categoryname, description)
VALUES (N'Beverages', N'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO Categories(categoryname, description)
VALUES (N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO Categories(categoryname, description)
VALUES (N'Confections', N'Desserts, candies, and sweet breads');
UNLOCK TABLES;

-- Populate table Products
LOCK TABLES `Products` WRITE;
INSERT INTO Products(productname, supplierid, categoryid, unitprice, discontinued)
VALUES (N'Product HHYDP', 1, 1, 18.00, 0);
INSERT INTO Products(productname, supplierid, categoryid, unitprice, discontinued)
VALUES (N'Product RECZE', 1, 1, 19.00, 0);
INSERT INTO Products(productname, supplierid, categoryid, unitprice, discontinued)
VALUES (N'Product IMEHJ', 1, 2, 10.00, 0);
UNLOCK TABLES;

-- Populate table Customers
INSERT INTO Customers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Customer NRZBB', N'Allen, Michael', N'Sales Representative', N'Obere Str. 0123', N'Berlin', NULL, N'10092',
        N'Germany', N'030-3456789', N'030-0123456');
INSERT INTO Customers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Customer MLTDN', N'Hassall, Mark', N'Owner', N'Avda. de la Constitución 5678', N'México D.F.', NULL, N'10077',
        N'Mexico', N'(5) 789-0123', N'(5) 456-7890');
INSERT INTO Customers(companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Customer KBUDE', N'Strome, David', N'Owner', N'Mataderos  7890', N'México D.F.', NULL, N'10097', N'Mexico',
        N'(5) 123-4567', NULL);
UNLOCK TABLES;

-- Populate table Shippers
LOCK TABLES `Shippers` WRITE;
INSERT INTO Shippers(shipperid, companyname, phone)
  VALUES(1, N'Shipper GVSUA', N'(503) 555-0137');
INSERT INTO Shippers(shipperid, companyname, phone)
  VALUES(2, N'Shipper ETYNR', N'(425) 555-0136');
INSERT INTO Shippers(shipperid, companyname, phone)
  VALUES(3, N'Shipper ZHISN', N'(415) 555-0138');
UNLOCK TABLES;

-- Populate table Orders
LOCK TABLES `Orders` WRITE;
INSERT INTO Orders(orderid, custid, empid, orderdate, requireddate, shippeddate, shipperid, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry)
  VALUES(10248, 85, 5, '20140704', '20140801', '20140716', 3, 32.38, N'Ship to 85-B', N'6789 rue de l''Abbaye', N'Reims', NULL, N'10345', N'France');
INSERT INTO Orders(orderid, custid, empid, orderdate, requireddate, shippeddate, shipperid, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry)
  VALUES(10249, 79, 6, '20140705', '20140816', '20140710', 1, 11.61, N'Ship to 79-C', N'Luisenstr. 9012', N'Münster', NULL, N'10328', N'Germany');
INSERT INTO Orders(orderid, custid, empid, orderdate, requireddate, shippeddate, shipperid, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry)
  VALUES(10250, 34, 4, '20140708', '20140805', '20140712', 2, 65.83, N'Destination SCQXA', N'Rua do Paço, 7890', N'Rio de Janeiro', N'RJ', N'10195', N'Brazil');
UNLOCK TABLES;

-- Populate table OrderDetails
LOCK TABLES `OrderDetails` WRITE;
INSERT INTO OrderDetails(orderid, productid, unitprice, qty, discount)
  VALUES(10248, 11, 14.00, 12, 0);
INSERT INTO OrderDetails(orderid, productid, unitprice, qty, discount)
  VALUES(10248, 42, 9.80, 10, 0);
INSERT INTO OrderDetails(orderid, productid, unitprice, qty, discount)
  VALUES(10248, 72, 34.80, 5, 0);
UNLOCK TABLES;

-- Populate table Tests
LOCK TABLES `Tests` WRITE, `Scores` WRITE;
INSERT INTO Tests(testid) VALUES ('Test ABC');
INSERT INTO Tests(testid) VALUES ('Test XYZ');
-- Populate table Scores
INSERT INTO Scores(testid, studentid, score) VALUES
  ('Test ABC', 'Student A', 95);
INSERT INTO Scores(testid, studentid, score) VALUES
  ('Test ABC', 'Student B', 80);
INSERT INTO Scores(testid, studentid, score) VALUES
  ('Test ABC', 'Student C', 55);
UNLOCK TABLES;

-- Create and Populate table Nums
DROP TABLE IF EXISTS `Nums`;
CREATE TABLE `Nums`
(
    `n` INT NOT NULL,
    CONSTRAINT PK_Nums PRIMARY KEY (`n`)
);

INSERT INTO `Nums` VALUES (1);

DELIMITER $$
CREATE PROCEDURE PopulateNumbers()
BEGIN
    DECLARE max, rc INT;
    SET max = 100000;
    SET rc = 1;
    WHILE rc * 2 <= max
        DO
            INSERT INTO Nums SELECT n + rc FROM Nums;
            SET rc = rc * 2;
        END WHILE;
END $$

DELIMITER ;

CALL PopulateNumbers();
DROP PROCEDURE PopulateNumbers;

-- ---------------------------------------------------------------------
-- Create Views and Functions
-- ---------------------------------------------------------------------

CREATE VIEW OrderValues
AS
SELECT O.orderid,
       O.custid,
       O.empid,
       O.shipperid,
       O.orderdate,
       O.requireddate,
       O.shippeddate,
       SUM(OD.qty)            AS qty,
       CAST(SUM(OD.qty * OD.unitprice * (1 - OD.discount))
           AS DECIMAL(12, 2)) AS val
FROM Orders AS O
         JOIN OrderDetails AS OD
              ON O.orderid = OD.orderid
GROUP BY O.orderid, O.custid, O.empid, O.shipperid, O.orderdate, O.requireddate, O.shippeddate;

CREATE VIEW OrderTotalsByYear
AS
SELECT YEAR(O.orderdate) AS orderyear,
       SUM(OD.qty)       AS qty
FROM Orders AS O
         JOIN OrderDetails AS OD
              ON OD.orderid = O.orderid
GROUP BY YEAR(orderdate);

CREATE VIEW CustOrders
AS

SELECT
  O.custid,
  EXTRACT(MONTH FROM O.orderdate) AS ordermonth,
  SUM(OD.qty) AS qty
FROM Orders AS O
  JOIN OrderDetails AS OD
    ON OD.orderid = O.orderid
GROUP BY custid, EXTRACT(MONTH FROM O.orderdate);

CREATE VIEW EmpOrders
AS
SELECT O.empid,
       EXTRACT(MONTH FROM O.orderdate) AS ordermonth,
       SUM(OD.qty)                     AS qty,
       CAST(SUM(OD.qty * OD.unitprice * (1 - discount))
           AS DECIMAL(12, 2))          AS val,
       COUNT(*)                        AS numorders
FROM Orders AS O
         JOIN OrderDetails AS OD
              ON OD.orderid = O.orderid
GROUP BY empid, EXTRACT(MONTH FROM O.orderdate);

DROP PROCEDURE IF EXISTS GetNums;
DELIMITER $$
CREATE PROCEDURE GetNums(IN low BIGINT, IN high BIGINT)
BEGIN
    PREPARE STMT FROM 'WITH L0 AS (SELECT c FROM (SELECT 1 as c UNION ALL SELECT 1) AS D),
         L1 AS (SELECT 1 AS c
                FROM L0 AS A
                         CROSS JOIN L0 AS B),
         L2 AS (SELECT 1 AS c
                FROM L1 AS A
                         CROSS JOIN L1 AS B),
         L3 AS (SELECT 1 AS c
                FROM L2 AS A
                         CROSS JOIN L2 AS B),
         L4 AS (SELECT 1 AS c
                FROM L3 AS A
                         CROSS JOIN L3 AS B),
         Nums AS (SELECT @i := @i+1 AS rownum FROM L4 AS O, (SELECT @i := 0) AS f)
    SELECT ? + rownum - 1 AS n
    FROM Nums
    ORDER BY rownum LIMIT ?';

    SET @low = low;
    SET @high = high - low + 1;
    EXECUTE STMT USING @low, @high;
END;
$$

DELIMITER ;
